{#
/**
 * @file
 * Default theme implementation for an views slideshow cycle main frame.
 *
 * Available variables:
 * - classes: Classes to apply to the element.
 * - rows: The slides.
 * - vss_id: The slideshow id.
 *
 * @see template_preprocess_views_slideshow_galleria_main_frame()
 *
 * @ingroup vss_templates
 */
#}
<div id="views-slideshow-galleria-{{ vss_id }}" class="views-slideshow-galleria">
    {% if title is not empty %}
    <h3>{{ title }}</h3>
    {%  endif %}
    <div id="views-slideshow-galleria-images-{{ vss_id }}" {{ attributes.addClass(classes) }}>
        {% for row in rows %}
        {{ row|raw }}
        {% endfor %}
    </div>
</div>